$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$darker-gray: #3d3d3d;

$kick-green: #2BDE73;
$hover-green: #0cb751;
$strong-green: #25CB68;
$cream-gray: #F0F0F0;
$warm-gray: #F7F5F2;
$rose-red: #d80a2d;
$deep-blue: #07467a;
$deeper-blue: #04345b;
$pledge-blue: #586BE9;
$dark-pledge-blue: #3a479e;
$soft-blue: #e0e4fb;
$softest-blue: #F8F9FD;
