$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$darker-gray: #3d3d3d;

$kick-green: #2BDE73;
$strong-green: #25CB68;
$cream-gray: #F0F0F0;
$rose-red: #d80a2d;
$deep-blue: #07467a;
