@import "base/colors.scss";

.discover-section {
  box-shadow: inset 0px 7px 16px -3px rgba(50, 50, 50, 0.15);
  height: 100%;
  display: flex;
}

.discover-section-wrapper {
  margin: 80px 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.discover-section-wrapper > h1 {
  font-size: 26px;
  color: $hover-green;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.discover-tag {
  margin-bottom: 15px;
}

.discover-tag-link {
  font-family: sans-serif;
  font-size: 36px;
}
