@import "base/colors.scss";

.full-project-section {
  background: $cream-gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: inset 0px 7px 16px -3px rgba(50, 50, 50, 0.15);
}

.full-title-description span {
  font-family: catamaran-light;
  font-weight: bold;
}

.full-project-section div {
  font-family: sans-serif;
  font-size: 15px;
}

.full-project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 100%;
}

.project-top {
  padding-bottom: 60px;
  margin-bottom: 20px;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.project-top-header-section {
  margin-top: 30px;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.project-author {
  align-items: center;
  width: 20%;
  display: flex;
}

.project-title {
  display: flex;
  flex-direction: column;
}

.project-title-description {
  font-size: 16px;
  margin-top: 15px;
  color: $dark-gray;
  font-family: sans-serif;
}

.project-top-video-section {
  margin-top: 15px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-video {
  width: 780px;
  height: 450px;
}

.project-top-details {
  max-width: 400px;
  min-width: 250px;
  margin-left: 30px;
  height: 100%;
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-project-body {
  border-top: 1px solid $light-gray;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.full-project-body-wrapper {
 width: 60%;
 display: flex;
}

.project-body-description {
  margin-top: 30px;
  width: 100%;
  min-width: 350px;
  font-size: 16px;
  margin-top: 15px;
  color: $darker-gray;
  font-family: catamaran-light;
}

.project-body-rewards {
  margin-top: 30px;
  margin-left: 35px;
  min-width: 380px;
  max-width: 380px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.project-line-container {
  width: 100%;
}

.full-project-current-funding {
  color: $hover-green;
  font-family: sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
}

.full-project-current-funding-spacer {
  margin-top: 10px;
}

.full-project-total-funding {
  margin-top: 3px;
}

.full-project-total-funding, .full-project-total-funding > span {
  font-family: sans-serif;
  color: $dark-gray;
  font-size: 13px;
}

.full-project-total-backers, .full-project-days-left {
  margin-top: 18px;
  font-family: sans-serif;
  font-size: 24px;
}

.backers-backers, .days-left {
  font-family: sans-serif;
  color: $dark-gray;
  font-size: 13px;
}

.full-project-support, .full-project-about {
  margin-top: 24px;
  font-family: sans-serif;
  font-size: 24px;
}

.project-body-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-project-rewards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-project-comments {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.project-comment-form {
  background-color: $lightest-gray;
  width: 550px;
  height: 200px;
  padding-top: 15px;
  margin-bottom: 15px;
}

.project-comment-form > content {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 20px;
}

.project-comments-list {
  overflow: scroll;
  height: 400px;
  width: 100%;
}

.new-comment-input {
  resize: none;
  font-family: sans-serif;
  border: 1px solid $light-gray;
  height: 65px;
  margin-top: 20px;
  margin-left: 16px;
  background-color: white;
}

.comment-submit-button {
  color: white;
  font-family: sans-serif;
  width: 160px;
  margin-top: 10px;
  margin-left: 16px;
  background-color: $footer-blue;
}

.comment-submit-button:hover {
  background-color: $footer-highlight;
  color: white;
}
