@import "base/colors.scss";

.full-project-section {
  height: 100%;
  background: $cream-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 7px 16px -3px rgba(50, 50, 50, 0.15);
}
