@import "base/colors.scss";
@import "base/fonts.scss";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-video-container {
  height: 600px;
  width: 100%;
  background-image: image-url('city-overview.jpg');
  background-size: cover;
}

.projects-header {
  align-self: center;
}

.projects-container {
  margin-top: 80px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.projects-list {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projects-list > li {
  margin: 18px;
  display: flex;
  align-self: center;
  height: 460px;
  width: 312px;
}

.top-wrapper {
  height: 80%;
}

.project-blurb {
  border: 1px solid $light-gray;
  border-radius: 9px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blurb-header, .blurb-middle, .blurb-footer {
  width: auto;
}

.blurb-header {
  height: 55%;
}

.blurb-image{
  border-radius: 9px 9px 0 0;
}

.blurb-middle {
  margin-top: 8px;
  margin-left: 8px;
}

.blurb-org {
  margin-top: 4px;
}

.blurb-description {
  margin-top: 18px;
}

.blurb-footer {
  border-radius: 9px;
  align-self: flex-end;
}
