@import "base/colors.scss";
@import "base/fonts.scss";

.fa-compass {
	font-size: 18px;
	padding-right: 6px;
	color: #2cba52;
}

.fa-search {
	font-size: 18px;
	margin-left: 24px;
}

.main-nav {
	display: flex;
	justify-content: space-between;;
	align-items: stretch;
	padding: 6px 0;
	// border-bottom: 1px solid $light-gray;
}

.left-nav,
.right-nav {
	width: 33.3333%;
	display: flex;
	align-items: center;
}

.right-nav {
	justify-content: flex-end;
}

.left-nav > li, .right-nav li {
  display: flex;
  align-items: center;
	cursor: pointer;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.left-nav > li {
	margin-left: 18px;
	padding: 7px 5px;
}

.discover-wrapper {
	display: flex;;
	align-items: center;
}

.right-nav > li > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-nav > li > ul > li {
	margin-right: 18px;
  display: flex;
  align-items: center;
  padding: 7px 9px;
}

.login {
	margin-left: 18px;
}

.logout {
	margin-right: 18px;
	margin-left: 20px;
	padding: 7px 9px;
}

// .login:hover, .logout:hover, .nav-discover:hover, .create:hover, .sign-up:hover {
// 	box-sizing: border-box;
// 	text-decoration: underline;
// 	border-bottom: 3px solid $kick-green
// }

.center-nav {
  display: flex;
  align-items: center;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.right-logo, .left-logo {
	font-family: logo;
	display: flex;
	align-items: center;
	font-size: 24px;
}

.left-logo {
	color: black;
}
.right-logo {
	color: $kick-green;
}
