@import "base/colors.scss";
@import "base/fonts.scss";

.fa-compass {
	font-size: 18px;
	padding-right: 6px;
	color: #2cba52;
}

.fa-search {
	font-size: 18px;
	margin-left: 24px;
}

.main-nav {
	display: flex;
	justify-content: space-between;;
	align-items: stretch;
	height: 55px;
}

.left-nav,
.right-nav {
	height: 100%;
	width: 33.3333%;
	display: flex;
	align-items: center;
}

.right-nav {
	align-items: center;
	justify-content: center;
	display: flex;
	justify-content: flex-end;
}

.right-nav > li > span {
	align-items: center;
	justify-content: center;
	display: flex;
	justify-content: flex-end;
}

.left-nav > li, .right-nav li {
	height: 100%;
  display: flex;
  align-items: center;
	cursor: pointer;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.left-nav > li {
	height: 100%;
	margin-left: 18px;
	padding: 0 5px;
}

.left-nav > li > a {
	height: 100%;
	display: flex;
	align-items: center;
}

.discover-wrapper {
	display: flex;
	height: 100%;
	align-items: center;
}

.right-nav > li > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
	height: 100%;
}

.right-nav > li > ul > li {
	height: 100%;
	margin-right: 18px;
  display: flex;
  align-items: center;
  padding: 0 9px;
}

.login {
	height: 100%;
	margin-left: 18px;
}

.logout {
	display: flex;
	height: 100%;
	margin-right: 18px;
	margin-left: 20px;
	padding: 0 9px;
}

.center-nav {
  display: flex;
  align-items: center;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.right-logo, .left-logo {
	font-family: logo;
	display: flex;
	align-items: center;
	font-size: 24px;
}

.left-logo {
	color: black;
}

.right-logo {
	color: $kick-green;
}

.nav-discover {
	height: 100%;
	display: flex;
	align-items: center;
}

.discovery {
	display: flex;
	align-items: center;
	height: 100%;
}
/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 5px;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
	background-color: $strong-green;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
