@import "base/colors.scss";
@import "base/fonts.scss";

.reward-container {
  border: 1px solid $soft-blue;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: $softest-blue;
}

.reward-container:hover {
  border-color: $pledge-blue;
}

.amount {
  color: $pledge-blue;
  padding-bottom: 12px;
  font-size: 200px;
}

.backer-button {
  font-family: sans-serif;
  color: white;
}

.title {
  padding-bottom: 10px;
}

.description {
  color: $gray;
  padding-bottom: 18px;
}

.delivery {
  padding-bottom: 15px;
}

.delivery > span {
  font-family: cabin;
  color: $gray;
  font-size: 10px;
}

.backers {
  padding-bottom: 18px;
}

.backers > span {
  color: $gray;
  font-size: 10px;
  font-family: cabin;
}

.reward-divider {
  font-family: caliban-light;
  color: $soft-blue;
  margin-bottom: 5px;
}

.pledge-box {
  font-size: 10px;
}

.pledge-input {
  background-color: white;
  box-sizing: border-box;
  padding-left: 36px;
  border-color: $soft-blue;
}

.pledge-input:focus {
  border: 1px solid $pledge-blue;
}

.currency i {
  font-size: 12px;
  position: relative;
  top: 37px;
  left: 9px;
  padding: 5px 8px;
  background-color: $light-gray;
  border-radius: 3px;
}

.pledge-box > span {
  font-size: 11px;
  font-family: cabin;
  font-weight: bold;
}

.box-red {
  border: 1px solid $rose-red;
}

.box-red:focus {
  border: 1px solid $rose-red;
}

.reward-modal {
  border: 1px solid $dark-gray;
  background-color: $softest-blue;
  border-radius: 10px;
  width: 700px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-title {
  font-family: sans-serif;
  font-size: 16px;
}
