@import "base/colors.scss";

.project-search-section {
  padding: 50px 0;
  background: $cream-gray;
  box-shadow: inset 0px 7px 16px -3px rgba(50, 50, 50, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-projects-list {
  height: 100%;
  width: 80%;
  display: flex;
}

.search-projects-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-width-adjustor {
  height: 100%;
  width: 80%;
}

.search-result-display {
  align-self: flex-start;
  margin-left: 180px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
