@import "base/colors.scss";
@import "base/fonts.scss";

.auth-form-section {
  height: 100%;
  background: $cream-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 7px 16px -3px rgba(50, 50, 50, 0.15);
}

.auth-form {
  align-self: flex-start;
  width: 380px;
  flex-direction: column;
  background: white;
  border: 1px solid $light-gray;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.auth-form > h2 {
  align-self: flex-start;
  font-size: 30px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.auth-form > button {
  margin-top: 50px;
  color: white;
}

.auth-errors {
  background-color: $rose-red;
  border-radius: 12px;
}

.auth-errors > li {
  width: 95%;
  padding: 10px;
  font-family: $sans-serif;
  color: white;
}
